/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
#breadcrumb {
    @height: 35px;
    display: none;
    background: lighten(@modal-nav-bg-color, 4%);
    border-bottom: 1px solid @modal-nav-border-color;
    line-height: @height;

    &.active {
        display: block;
    }

    > a {
        color: @modal-nav-link-color;
        font-size: 12px;
        position: relative;
        margin-right: 30px;
        text-transform: capitalize;

        &:first-child {
            margin-left: 30px;
        }

        &:hover {
            color: @modal-nav-link-active-color;

            &:before {
                color: @modal-nav-link-color;
            }
        }

        .fa-icon(@fa-chevron-right, after, inline-block, 0, 0, inherit, 9px);

        &:after {
            position: relative;
            top: -1px;
            right: -15px;
        }


        &:last-child {
            color: @modal-nav-link-active-color;
            font-weight: 600;
        }

        // Seperated to fix Chrome rendering issue
        &:last-child:after {
            display: none;
        }
    }

} // Breadcrumb
