/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
// Popover Animation
// ----------------------------------------

.shortcuts-popover {

    // Show and Hide Functionality
    visibility: hidden;
    opacity: 0;

    @popover-transition-timing-function: ease-in-out;
    @popover-transition-delay: 0ms;
    @popover-transition-duration: 250ms;
    @popover-visibility-transition-delay: @popover-transition-delay + 200ms;

    // Variables Defined on Variable Parial

    -webkit-transition:
        visibility @popover-transition-duration @popover-transition-timing-function @popover-visibility-transition-delay,
        opacity @popover-transition-duration @popover-transition-timing-function @popover-transition-delay
    ;

    transition:
        visibility @popover-transition-duration @popover-transition-timing-function @popover-visibility-transition-delay,
        opacity @popover-transition-duration @popover-transition-timing-function @popover-transition-delay
    ;
}

.keyboard-shortcuts.active {

    .shortcuts-popover {
        visibility: visible;
        opacity: 1;
        .transition-delay(0ms);
    }
}
